{% extends "base.html" %}
{% block body_block %}

<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <strong class="text-muted"><h3 class="card-title">Create New Cricket Team</h3></strong>
          <form method="post">
            {% csrf_token %}
            {% include "includes/form.html" %}
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
